[FORMAT]

# Maximum number of characters on a single line.
max-line-length=130

[DESIGN]

# Maximum number of locals for function / method body
max-locals = 32

# Maximum number of statements in function / method body
max-statements = 55

[MESSAGES CONTROL]

# Allow duplicate code, since some subparts are identical in many examples
disable=duplicate-code
